@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
@custom-variant dark (&:where(.dark, .dark *));
@keyframes splash {
  to {
    transform: translate(-50%, -50%) scale(4);
    opacity: 0;
  }
}
.splash {
  animation: splash .4s ease-out forwards;
}